.margin-top-lg{
    margin-top: $lg;
  }
  
  .margin-top-md{
    margin-top: $md;
  }
  
  .margin-top-sm{
    margin-top: $sm;
  }
  
  .margin-bottom-md{
    margin-bottom: $md;
  }
  
  .margin-bottom-lg{
    margin-bottom: $lg;
  }
  
  .margin-bottom-sm{
    margin-bottom: $sm;
  }
  
  
  .padding-top-md{
    padding-top: $md;
  }
  
  .padding-top-lg{
    padding-top: $lg;
  }