//Images
$main-image: "https://picsum.photos/800/400/";

// Colors
$blue : #7a7abf;
$body-color: white;

// Sizes
$sm: 15px;
$md: 30px;
$lg: 50px;

//Buttons sizes

$bsm: 30px;
$bmd: 45px;
$blg: 100px;

//Alligments
$center-horizontal: center;
$center-vertical: center;

