.img-logo
{
    width: 50px;
    padding-bottom: 5px;

}

.divider{
    height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
    margin-left: 10px;
    margin-right: 10px;

}
/* #home-cover{
    height: 350px;
    width: 100%;
    background-image: url("https://picsum.photos/800/400/?gravity=east") ;
    background-position:  center;
    background-repeat:  no-repeat;
    background-size: cover;
    margin: 0;
    padding: 1px; 
    
} */


/* .div-Busqueda
{
    align-items: center;
    display:  block;
    height: 350px;
    width: 100%;
    padding-top: 15vh;
    

 }
.div-Busqueda>div >h4
{
    color: #ffffff;
    border-color: burlywood;
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    padding-left: 17vw;
}  */
/* 
.div-InputBusqueda
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-color: #4D2C91;
    border-radius: 10px;
    box-shadow:  8px 8px 5px rgba(0, 0, 0, 0.397);
    margin-left: 15vw;
    margin-right: 15vw;
    width: 800px;
    
    
}
.div-div-Busqueda
{
    display: flex;
    justify-content: center;
}
.div-InputBusqueda >input
{
   width: 100%;
   height: 35px;
   border-color: transparent;
   font-size: 18px;
   outline: none;
   border-radius: 5px;
  
}
.div-InputBusqueda> img
{
    width: 50px;
    height: 50px;
    
}   */
/* .carousel {
        
    
    padding-left: 20vw;
    padding-right: 20vw;
} */
h1{
    font-weight: bold;
    font-family: 'Baloo Chettan', cursive;
   
}
h3{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold; 
    margin-left: 10px;
}
/* .imageFooter
{
    height: 50px;
} */
.div-signUp
{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;

}
@media (min-width: 768px) and (max-width: 1024px)
{
    /*body{
        background-color: lightblue; 
    }*/
    nav{
        justify-content: space-between;
        height: 65px;
        width: 100%; 
    }
    nav>a{
       /* max-width:  70px; */
       height: 50px;
    }
    nav>a>img {
        height: 45px;
        width: 45px;
    }
    nav>p{
        font-weight: bold;
    } 
    footer{
        display: none;
    }
    
    #home-cover {
        height: 150px;
        width: 100%;
    }
        

    .div-Busqueda{
        align-items: center;
        display: block;
        height: 100px;
        width: 100%;
        padding-top: 20px;
    }
    .div-InputBusqueda 
    {
        width: 55vw;
    
    }
    .carousel {
        
        /* width: 500px; */
        padding-left: 20vw;
        padding-right: 20vw;
    }
    #home-promociones
    {
        grid-template-columns: 40px auto 40px;
        grid-template-rows: 25%  auto;
        /* background-color: black; */
        display: table;
    }
    #navbarSupportedContent
    {
        background-color: #f8f9fa; 
    }

  
                    
}